th{
    background: #6a3093; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6a3093, #a044ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6a3093, #a044ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.red{
    height: 200px;
    width: 100px;
    background-color: red;
}
#boton-pago{
    background-color: yellow;
}
td{
    border: solid black 1px;
}