html{
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
    color: #F90300;
}

.container{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fc4a1a, #f7b733);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fc4a1a, #f7b733); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: white;
    /*diferenciaHorizontal diferenciaVertical desenfoque amplitud color*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
}

.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}

.close{
    height: 40px;
    width: 40px;
    color: white;
    background-color: #f7b733;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:  center;
}

.title{
    text-transform: uppercase;
}

.title-item{
    text-transform: uppercase;
    border-bottom: solid 2px #F90300;
    padding-bottom: 1em;
}

.position{
    background-color: #F90300;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.red{
    height: 200px;
    width: 100px;
    background-color: red;
}

.paragraph{
    line-height: 1.8em;
    font-weight: 300;
}

.table{
    width: 100%;
    border-spacing: 0;
    border: none;
}

.table td, .table th{
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(odd){ /*para los impares*/

}

.table tr:nth-child(even){ /*para los pares*/
    background-color: #f7f5a3;
}

.fa-star{
    color: #ffc400;
}

#boton-pago{
    background-color: yellow;
}

